.nav {
    .title {
        font-size: xx-large;
        margin: 0.5rem;
        color: #a2e058;
    }

    a {
        text-decoration: none;
        color: orange;
    }

    height: 5vh;
    min-height: 40px;
    padding: 5px;
    background-color: rgb(62, 68, 70);
    border-bottom: 5px solid #a2e058;
    display: flex;

    .spacer {
        flex: 1 1 auto;
        text-align: center;
    }

    button {
        background-color: #a2e058;
        color: black;
    }

    .overlay {
        position: absolute;
        z-index: 1000;
        align-content: center;
        // -nav 40px min height + 10px padding + 5px border oder 5vh + padding + border
        top: max(calc(40px + 10px + 5px + 10px), calc(5vh + 10px + 5px + 10px));
        left: calc(80vw - 10px);
        transform: translateX(-100%);

        button {
            background-color: rgb(62, 68, 70);
            color: #a2e058;
            font-size: 22px;
            margin-left: 0.1rem;
        }
    }
}


.main {
    display: flex;
    height: calc(100vh - max(calc(40px + 10px + 5px + 5px), calc(5vh + 10px + 5px + 5px)));

    .map {
        display: block;
        height: calc(100vh - max(calc(40px + 10px + 5px + 5px), calc(5vh + 10px + 5px + 5px)));
        width: 80vw;
    }

    .sidebar {
        padding-top: 2rem;
        width: 20vw;
        max-width: 20vw;
        overflow-y: scroll;

        #get_all_tour_ids,
        #fileInputBtn {
            width: 70%;
            margin-bottom: 0.5rem;
            margin-left: 15%;
            margin-right: 15%;
            background-color: rgb(62, 68, 70);
            color: #a2e058;
        }

        .card {
            margin-right: 5%;
            margin-left: 5%;
            max-width: 90%;
            text-overflow: ellipsis;
            margin-bottom: 10px;

            .mat-card-avatar {
                width: 100px;
                height: 100px;
                background-color: black;

                button {
                    display: none;
                }

                &:hover {
                    cursor: pointer;

                    button {
                        display: block;
                        border-radius: 100px;
                        height: 100%;
                        width: 100%;
                        background-color: rgba($color: #000000, $alpha: 0.75);
                        color: white;
                    }
                }
            }

            mat-card-content {
                padding: 1rem;
                margin: 0;

                p {
                    text-align: left;
                }

                mat-icon {
                    vertical-align: top;
                    font-size: 1.25em;
                }

            }

            button {
                background-color: #a2e058;
                color: black;
                width: 100%;
            }
        }

        .selected-tour {
            background-color: black;
            color: white !important;

            .mat-card-subtitle {
                color: white !important;
            }

            button {
                background-color: #a2e058;
                color: black;
                width: 100%;
            }
        }
    }


}

@media only screen and (max-width: 1600px) {
    .nav {
        padding: 1rem;

        .title {
            font-size: large;
            margin: 0.5rem;
        }

        a {
            display: none;
        }

        #fileInputBtn {
            display: none;
        }

        .overlay {
            display: flex;
            // -nav 40px min height + 2rem padding + 5px border + margin oder 5vh + padding + border + margin
            top: max(calc(40px + 2rem + 5px + 10px), calc(5vh + 2rem + 5px + 10px));
            left: calc(100% - 10px);

        }
    }

    .main {
        display: block;
        width: 100vw;
        height: auto;

        .map {
            height: 50vh;
            max-height: 50vh;
            position: fixed;
            width: 100vw;
            border-bottom: 5px solid #a2e058;
        }

        .sidebar {
            position: relative;
            // rest 50 vh - nav - padding nav - border nav - border map - 
            height: calc(45vh - 5vh - 2rem - 5px - 5px);
            // map + border
            top: calc(50vh + 5px);
            width: 100%;
            max-width: 100%;
        }
    }
}