<div class="nav">
    <span class="title">Activity Map</span>
    <a href="https://gitlab.com/QX4MX/activitymap">Gitlab Repo</a>
    <span class="spacer"></span>
    <button *ngIf="komootApi.user_id == null" mat-raised-button (click)="openLogin('300ms', '0ms')">Login
        Komoot</button>
    <button *ngIf="komootApi.user_id != null" mat-button (click)="openLogin('300ms', '0ms')">Welcome,
        {{komootApi.username}}!</button>

    <!-- MAP OVERLAY -->
    <div class="overlay">
        <button mat-button (click)="drawAll()"> Draw all ({{tours.length}})</button>
        <button mat-button (click)="openOptions('300ms', '0ms')">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>

<div class="main">
    <app-map class="map"></app-map>
    <div id="tourlist" class="sidebar">
        <button *ngIf="komootApi.user_id != null" mat-raised-button id="get_all_tour_ids" (click)="get_all_tour_ids()">
            List all Tours from Komoot
        </button>
        <button type="button" mat-raised-button (click)="fileInput.click()" id="fileInputBtn">List Tours from GPX/TCX
            Files</button>
        <input hidden multiple (change)="onFileSelected($event)" #fileInput type="file" id="file">
        <mat-card class="card" *ngIf="tours.length == 0">
            <mat-card-header>
                <mat-card-title>No Tours</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Click on the button above to load your tours from Komoot or from GPX/TCX files.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" *ngIf="tours.length != 0">
            <mat-card-header>
                <mat-card-title>Tour Statistics</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngFor="let activity of activityStats | keyvalue; let i = index">
                    {{activity.key}}
                    {{activity.value[0]}} km in
                    {{toTimeStr(activity.value[1])}}
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" *ngFor="let tour of tours; let i = index" [ngClass]="tour.selected ? 'selected-tour': ''"
            id="{{tour.id}}">
            <mat-card-header>
                <div *ngIf="tour.img" mat-card-avatar class="card-header-image"
                    style='background-image: url("{{tour.img[0]}}?width={{100}}&height={{100}}&crop={{true}}");'>
                    <button mat-button (click)='openImageModal(tour);'>Images</button>
                </div>
                <mat-card-title>{{tour.name}} </mat-card-title>
                <mat-card-subtitle>{{tour.activity}} {{tour.timesarr[0].toDateString()}}</mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>

                <p *ngIf="tour.distance">Distance: {{tour.distance}} km</p>
                <p *ngIf="tour.duration">Duration: {{toTimeStr(tour.duration)}}</p>
                <p *ngIf="tour.elevation">
                    Elevation:
                    <mat-icon>arrow_drop_up</mat-icon> {{tour.elevation[0]}}m
                    <mat-icon>arrow_drop_down</mat-icon> {{tour.elevation[1]}}m
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="!tour.polyLine" color="primary" mat-raised-button
                    (click)='drawTour(tour, true);'>Draw</button>
                <button *ngIf="tour.polyLine" color="primary" mat-raised-button (click)='selectTour(tour)'>View</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>