.draw-options-container {
    background-color: rgb(62, 68, 70);
    list-style: none;
    padding: 0;

    li {
        margin: 1rem;
    }

    button {
        color: black;
        margin: 0.5rem;
    }


}