<div id="options-modal" class="dialog-modal">
    <div class="dialog-info">
        <span class="flex"></span>
        <span>Options</span>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
    <ul class="draw-options-container">
        <li>
            <h2>Tour Types</h2>
        </li>
        <li>
            <div class="example-label-container">
                <label id="example-name-label" class="example-name-label">Ignore Tours Shorter than: </label>
                <label class="example-value-label">{{parentRef.drawOptions.minimumLengthInMeters}} m</label>
              </div>
              <mat-slider class="example-margin" [value]="parentRef.drawOptions.minimumLengthInMeters" [max]="sliderMax" [min]="sliderMin" [step]="sliderStep" (change)="parentRef.drawOptions.minimumLengthInMeters = $event.value">
                <input matSliderThumb  #slider>
              </mat-slider>
        </li>
        <li>
            <mat-checkbox type="checkbox" [checked]="parentRef.drawOptions.includeRecordedTours"
                (change)="parentRef.drawOptions.includeRecordedTours = $event.checked">Recorded Tours</mat-checkbox>
        </li>
        <li>
            <mat-checkbox type="checkbox" [checked]="parentRef.drawOptions.includePlannedTours"
                (change)="parentRef.drawOptions.includePlannedTours = $event.checked">Planned Tours</mat-checkbox>
        </li>
        <li>
            <h2>Sports</h2>

        </li>
        <li>
            <mat-checkbox type="checkbox" [checked]="parentRef.drawOptions.includeWalks"
                (change)="parentRef.drawOptions.includeWalks = $event.checked">Hiking</mat-checkbox>
            <input matInput type="color" id="hiking-color" class="full-width" value="{{parentRef.colorInput[0]}}"
                (change)="onColorChange()">
        </li>
        <li>
            <mat-checkbox type="checkbox" [checked]="parentRef.drawOptions.includeBikeTours"
                (change)="parentRef.drawOptions.includeBikeTours = $event.checked">Biking</mat-checkbox>
            <input matInput type="color" id="biking-color" class="full-width" value="{{parentRef.colorInput[2]}}"
                (change)="onColorChange()">
        </li>
        <li>
            <mat-checkbox type="checkbox" [checked]="parentRef.drawOptions.includeRunningTours"
                (change)="parentRef.drawOptions.includeRunningTours = $event.checked">Running</mat-checkbox>
            <input matInput type="color" id="running-color" class="full-width" value="{{parentRef.colorInput[1]}}"
                (change)="onColorChange()">
        </li>
        <li>
            <h2>Other Options</h2>

        </li>
        <li>
            <mat-checkbox type="checkbox" id="setMarker" [checked]="parentRef.setMarker"
                (change)="parentRef.setMarker = $event.checked">
                Set Marker at Start </mat-checkbox>
        </li>
        <li>
            <button mat-raised-button (click)="parentRef.clearList()" color="warn"> Clear List </button>
            <button mat-raised-button (click)="parentRef.clearMap()" color="warn"> Clear Map </button>
            <button *ngIf="!parentRef.darkMode" mat-raised-button (click)="parentRef.darkModeToggle()"
                style="background-color: black; color: white">
                DarkMode </button>
            <button *ngIf="parentRef.darkMode" mat-raised-button (click)="parentRef.darkModeToggle()"
                style="background-color: white; color: black">
                LightMode </button>
        </li>

    </ul>
</div>