html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #181a1b;
}

.full-width {
    width: 100%;
}

@media only screen and (max-width: 1600px) {
    .hide_on_mobile {
        display: none;
    }
}

mat-dialog-container,
.mat-dialog-container {
    /* add your styles */
    padding: 0 !important;
}

.dialog-modal {
    background-color: #a2e058;
}

.dialog-info {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 5px;
    text-align: bottom;

    mat-icon {
        &:hover {
            cursor: pointer;
        }
    }
}