<div id="imgModal" class="dialog-modal">

    <div class="dialog-info">
        <span class="flex"></span>
        <span>Image: {{currentIndex + 1}}/{{allImages.length}}</span>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
    <div *ngIf="currentImage" class="container" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <div class="img-wrapper">
            <img src="{{currentImage}}" (load)="setLoading(false)" alt="{{currentImage}}">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>
        <a *ngIf="allImages.length != 1" class="prev"
            (click)="plusSlides(allImages.length-1)"><mat-icon>arrow_back_ios</mat-icon></a>
        <a *ngIf="allImages.length != 1" class="next" (click)="plusSlides(1)"><mat-icon>arrow_forward_ios</mat-icon></a>
    </div>
</div>