.container {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    overflow: hidden;

    .img-wrapper {
        background-color: black;
    }

    img {
        display: block; // removes gap below (was inline with letters like g, j (below))
        width: 100%;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 10px;
        color: white !important;
        font-weight: bold;
        font-size: 30px;
        transition: 0.8s ease;
        border-radius: 0 5px 5px 0;
        user-select: none;
        -webkit-user-select: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
}



.loader {
    border: 4px solid #f3f3f3;
    border-top: 6px solid rgb(30, 30, 30);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes EaseIN {
    from {
        opacity: 0.25
    }

    to {
        opacity: 1
    }
}

mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}