<div *ngIf="komootApi.user_id == null" class="login-form">
    <mat-form-field>
        <input type="email" id="login-email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input type="password" id="login-password" matInput placeholder="Password">
    </mat-form-field>
    <button *ngIf="komootApi.user_id == null" mat-raised-button id="login-btn" (click)="login()">
        Login</button>

</div>

<div *ngIf="komootApi.user_id != null" class="login-form">
    <p>You are logged in as {{komootApi.username}}</p>
    <button color="warn" mat-button (click)="logout()">
        Logout</button>
</div>