.login-form {
    padding: 3rem;


    #login-btn {
        margin-left: 1rem;
        color: black;
        background-color: #a2e058;

    }
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #a2e058 !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #a2e058 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #a2e058 !important;
}